button{
    width: 60px;
    height: 50px;
}
button.square{
    font-size: 24px;
    font-weight: bold;
}
div.Board{
    
    width: fit-content;
}
div.board-row{
    display: flex;
    border:1px solid black;
    border-collapse: collapse;
}